<div class="alignleft">
&copy; 2013 - 2015 <a href="/">hexo</a>
 | 
 produce by <a href="http://ihgoo.github.io" target="_blank">ihgoo</a>	</div>
<span id="busuanzi_container_site_pv">
    |本站总访问量<span id="busuanzi_value_site_pv"></span>次
</span>
<div class="clearfix"></div>